/*--------------------------------------------------------------
## Header 
--------------------------------------------------------------*/
//structure
//#masthead.site-header > 
    //.site-branding > .site-title 
    //.main-navigation
        //.menu-toggle [button]
        //.menu-main-nav-en-container [div]
            //#primary-menu.menu [ul]
                //.menu-item [li]
                //.current-menu-item

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.1;
    margin-top: 60px;
    margin-bottom: 0;
    width: 100%;
    z-index: 2;
    .site-branding {
        margin-bottom: 20px;
    }
    .site-title {
        margin: 0;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

@media (max-width: 960px) {
   .site-header {
        align-items: flex-start;
        padding: 0 30px;
    }
}