/*--------------------------------------------------------------
## Artworks
--------------------------------------------------------------*/


.sticky-state {
	padding-top: 120px; //sos write documentation for this
}

.horizontal-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 100px;
	justify-items: center;
	justify-content: center;  
	padding: 1em 0 0 0;
	margin-top: 8rem;
	figure {
		.post-thumbnail {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 330px;
			height: 330px;
			//border: 1px dashed #ccc;
			&.square {
				&.small {
					padding: 60px;
				}
				&.large {
					padding: 0;
				}
				&.medium {
					padding: 30px;
				}
			}
			&.portrait {
				&.small {
					padding: 60px 0;
				}
				&.large {
					padding: 0;
				}
				&.medium {
					padding: 30px 0;
				}
			}
			&.landscape {
				&.small {
					padding: 0 60px;
				}
				&.large {
					padding: 0;
				}
				&.medium {
					padding: 0 30px;
				}
			}
		}
		img {
			max-width: 100%;
    		max-height: 100%;
		}
		figcaption {
			margin-top: 30px;
			p {
				margin: 0.8125em 0;
				font-size: 14px;
				line-height: 1.1;
			}
			.work-caption__artist {
				@include work_caption_artist;
			}
			.work-caption__title {
				@include work_caption_title;
			}
			.work-caption__date {
				@include work_caption_date;
			}
			.work-caption__dimensions {
				//display: none;
			}
		} 
	}
	&.list-layout {
		display: block;
		width: 1110px;
		margin: 0 auto;
		margin-top: 110px;
		figure {
			.post-thumbnail {
				display: none;
			}
			.work-caption__dimensions {
				display: none;
			}
			.work-caption__date {
				text-align: left;  
			}
			figcaption {
				display: grid;
				grid-template-columns: 1.5fr 2.5fr 0.5fr;
				margin-top: 0;
				padding: 8px 0 10px;
    			border-top: 1px solid $black;
				p {
					margin: 0;
					font-size: 17px;
					line-height: 1.4;
				}
			}
		}
	}
   
}

.horizontal-grid  .entry-title {
	line-height: 1.2;
}

.horizontal-grid  .entry-title a {
	text-decoration: none;
	font-size: 18px; 
}

.js .grid-item {
    margin-bottom: 100px;
}

.vertical-grid {
	display: flex;
	flex-direction: row;
	margin-bottom: 3em;
}

.vertical-grid .post-thumbnail {
	margin-right: 1.5em;
}

.vertical-grid .post-thumbnail {
	width: 145px;
}

.vertical-grid .post-excerpt {
	width: calc(100% - 145px);
}

.vertical-grid  .post-excerpt h2  {
	margin-top: 0;
	font-size: 18px;
}

.vertical-grid h2 a {
	text-decoration: none;
}

.artist-name {
	@include serif-bold;
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 5px;
	text-align: center;
}

.artist-name a:hover {
	text-decoration: underline;
}

.artwork-details .artist-name {
	text-decoration: underline;
}

.post-type-archive-artists {
	.site-main {
		margin-top: 60px;
	}
	.columns {
		columns: 4 auto;
		max-width: 1110px;
		margin: 0 auto;
		h4 {
			@include serif-bold;
			font-size: 90px;
			text-align: center;
			line-height: 1;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}


@media (max-width: 1336px) {
    .horizontal-grid {
        grid-template-columns: repeat(3, 1fr);
	}
	.columns {
		columns: 3 auto;
	}    
}

@media (max-width: 1052px) {
    .horizontal-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 6em 30px 0 30px;
	}
	.columns {
		columns: 2 auto;
	}
}

@media (max-width: 730px) {
    .horizontal-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: left;
	}
	.vertical-grid .post-thumbnail {
		width: auto;
	}
	.vertical-grid {
		display: block;
		margin-bottom: 6em;

	}
	.vertical-grid .post-excerpt {
		width: 100%;
	}
	.columns {
		columns: 1 auto;
	}
}

@media (min-width: 331px) and (max-width: 465px) {
    .horizontal-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 6em 15px 0 15px;
    }
}

@media (max-width: 330px) { 
    .horizontal-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 6em 15px 0 15px;
	}
	
 }

 
/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 

	.horizontal-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 1190px;
		margin: 0 auto;
		margin-top: 90px;
	}

	.horizontal-grid figure {
		width: calc(33.33333% - 60px);
		margin-right: 60px;
		margin-bottom: 60px;
		&:last-child {
			margin-right: 0;
		}
	}

	/*use separate stylesheets for IE9 and below*/

}

.post-type-archive-exhibitions,
.post-type-archive-events,
.error404,
.single-artists,
.single-exhibitions,
.single-events,
.page-template-default,
.single-post {
	.site-main {
		max-width: 960px;
		margin: 0 auto;
		margin-top: 60px;
	}
}