/* Graphik LCG Bold */
@font-face { 
    font-family: 'Graphik LCG Bold';
    src:local('Graphik LCG'), local('GraphikLCG-Bold'), 
        url('fonts/GraphikLCG-Bold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Graphik Medium';
  src: url("fonts/subset-GraphikLCWeb-Medium.eot");
  src: url("fonts/subset-GraphikLCWeb-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-GraphikLCWeb-Medium.woff2") format("woff2"),
    url("fonts/subset-GraphikLCWeb-Medium.woff") format("woff"),
    url("fonts/subset-GraphikLCWeb-Medium.ttf") format("truetype");  
}

@font-face {
    font-family: 'gfs_didotregular';
    src: url('fonts/gfsdidot-webfont.woff2') format('woff2'),
         url('fonts/gfsdidot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gfs_didot_rgbold';
    src: url('fonts/gfsdidotbold-webfont.woff2') format('woff2'),
         url('fonts/gfsdidotbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gfs_didotitalic';
    src: url('fonts/gfsdidotitalic-webfont.woff2') format('woff2'),
         url('fonts/gfsdidotitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}