/**
 *  _typography.scss
 *
 *
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
//generic

 @mixin sans-bold {
    font-family: 'Graphik LCG Bold', serif;
}

 @mixin sans-medium {
    font-family: 'Graphik Medium', serif;
    font-stretch: normal;
}

 @mixin sans-regular {
    font-family: 'Graphik LCG', serif;
    font-stretch: normal;
}

//GFS Didot
 @mixin serif-regular {
    font-family: 'gfs_didotregular', sans-serif;
    font-stretch: normal;
}

@mixin serif-bold {
    font-family: 'gfs_didot_rgbold';
    font-stretch: normal;
}

 @mixin serif-italic {
    font-family: 'gfs_didotitalic';
    font-stretch: normal;
}

@mixin main-nav-links {
    @include sans-bold;
    font-size: 17px;
    color: $black;
    letter-spacing: 0;
    line-height: 1;
}

@mixin taxonomy-links {
    @include serif-bold;
    font-size: 19px;
    color: $black;
    line-height: 1.1;
}

@mixin archive-header {
    @include sans-bold;
    font-size: 24px;
    color: $black;
    line-height: 1.1;
}

@mixin work_caption_artist {
    @include serif-bold;
    font-size: 14px;
    color: $black;
    line-height: 1.1;
}

@mixin work_caption_title{
    @include serif-regular;
    font-size: 14px;
    color: $black;
    line-height: 1.1;
    font-style: italic;
}

@mixin work_caption_date {
    @include serif-regular;
    font-size: 14px;
    color: $black;
    line-height: 1.1;
}


